#wordpress-rest-api-finder-app-root {
	.btn-danger {
		color: #fff;
		background-color: #dc3545;
		border-color: #dc3545;
	}

	.btn-primary {
		color: #fff;
		background-color: #007bff;
		border-color: #007bff;
	}
}

#wc-admin-test-helper-options {
	div.search-box {
		float: right;
		margin-bottom: 10px;
	}

	.align-center {
		text-align: center;
	}

	.components-notice {
		margin: 0px 0px 10px 0px;
	}
}

.wca-test-helper-option-editor {
	width: 100%;
	height: 300px;
}

.wca-test-helper-edit-btn-save {
	float: right;
}
